 
@tailwind base;
@tailwind components;
@tailwind utilities;
 
  body{
    font-family: 'Roboto', sans-serif;
    background-color: #d8e1dc;
  }
 
h1, h2{
  font-family: 'Rubik Doodle Shadow';
}

 


 